html, body {
    margin: 0;
    background: #ECFDF5;  
    display: flex;
    align-items: center;
    justify-content: center;
}

#main {
    margin: 100px 100px 0px 50px;
}

span{
  color: #4ADF86;
}

h1 {
 color: #1C1C1C;
 margin-top: 0px;
 margin-bottom: 10px;
 font-size: 40px;
}

p{
color: 1C1C1C;
margin-top: 0px;
font-size: 20px;

}

#generateBtn {
    color: white;
    background: #4ADF86 ;
    margin-top: 40px;
    padding: 18px;
    border-radius: 6px;
    border: 0px solid #10B981;
    cursor: pointer;
    font-size: 20px;
}


#Line {
    margin: 50px 0px 0px 0px;
    border: 1px solid #1C1C1C;
}

#both-btn{
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

#first-input {
    border: 1px solid #273549;
    padding: 20px 60px 10px 60px;
    margin-top: 40px;
    margin-right: 10px;
    border-radius: 5px;
    background: #273549;
    color: #55F991;

}

#second-input {
    border: 1px solid #273549;
    padding: 20px 60px 10px 60px;
    margin-top: 40px;
    margin-left: 10px;
    border-radius: 5px;
    background: #273549;
    color: #55F991;
}

#resetBtn{
   background-color: #55F991;
   border: none;
   padding: 10px 20px;
   margin-top: -5em;
   border-radius: 5px;
   cursor: pointer;
}

@media only screen and (max-width: 600px) {

  #main{
    display: flex;
    flex-direction: column;
    width: 400px;
  }

  #both-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #first-input, #second-input{
    width: 150px;
    height: 20px;
  }

  #first-input{
    margin-left: 15px;
  }

   #resetBtn{
    align-items: center;
   }

   h1{
    font-size: 30px;
   }
}